.footer {
  background-color: rgb(44, 43, 46);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px black;
}

.lista-linea {
  list-style: none;
}



li {
  display: inline;
  margin-right: .3rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.sociales {
  text-align: center;
}

.soc {
  cursor: pointer;
  animation: salto 0.5s infinite alternate;


}

@keyframes salto {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.copy {
  background-color: rgba(44, 43, 46);
  text-align: center;
  color: white;
}

p {
  margin-bottom: 0px;
  padding-bottom: 1rem;
}

@media (max-width: 1040px) {
  .sociales {
    text-align: center;
    padding-top: 1rem;
  }

  .left {
    text-align: center;
  }

  .lista-linea a,
  .copy p {
    font-size: 1rem;
  }

}