.main-nosotros {
    border: 3px solid lightcoral;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Futura Bold Italic";
    margin: 80px 15px;
    padding: 20px;
  }
  
  .div-nosotros h1 {
    font-size: 40px;
    background-color: lightcoral;
  }
  
  .nosotros-p {
    color: #fafafa;
    padding: 10%;
    background-image: url(../img/Fondos\ Nosotros\ 1.jpg);
  }