@media (max-width: 872px) {

    header {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }



    .fotos {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }




    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bannerContenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



