.tituloTienda {
    font-family: 'Audiowide';
    color: white;
    padding: 1%;
    align-items: center;
    margin: 0 auto;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(13, 0, 0);
    justify-content: center;
    text-align: center;
}

@media (max-width: 1240px) {

    .tituloTienda {
        font-family: 'Audiowide';
        color: white;
        padding: 1%;
       margin: 0 auto;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px rgb(13, 0, 0);
        text-align: center;
        display: flex;
        justify-content: center;

    }
}

@media (max-width: 240px) {
    .tituloTienda {
        margin-left: 70px;
    }
}